@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @apply bg-zinc-900
}

p, div, h1, span {
  background-color: transparent;
}

.scroll-container {
  scroll-snap-stop: always;
}

.dbg {
  background-image: url("../public/bg2.png");
}

.bgdiamonds {
  background-image: url("../public/diamonds.png");
} 